.eli-container {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}

.eli-nav ul{
	display:flex;
	flex-direction: row;
	list-style: none;
	gap: 20px;
}

.eli-btn {
	padding: 0.4em 1.4em;
	width: fit-content;
	background-color: rgb(197, 195, 195);
	border-radius:5px;
}