/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-eli-blocks-svgicon {

	& svg {
		width: 55px;
		height: auto;
		aspect-ratio: 1;
		background: #ccc;
	}

}

.eli-svg-icon-preview {
	height: 100px;
	background: #ccc;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	& svg {
		width: 55px;
		height: auto;
		aspect-ratio: 1;
		background: #ccc;
		margin: auto;
		padding:12px;
	}
}